nav > ul > li{
    display: inline;
    margin-right: 20px ;
}

nav li  a{
    text-decoration: none;
    color: blueviolet;
    font-size: x-large;
    font-weight: bold;
}
nav li:hover{
    background-color:darkgray;
}
footer{
    text-align: center;
    margin-top: 30px;
}
table{
    border-collapse: collapse;
}
td, th tfoot{
    border: 1px solid olivedrab;
    padding: 4px 8px;
    text-align: center;
    
}