nav > ul > li{
    display: inline;
    margin-right: 20px ;
}

nav li > a{
    text-decoration: none;
}
footer{
    text-align: center;
    margin-top: 30px;
}
table{
    border-collapse: collapse;
}
td, th{
    border: 1px solid olivedrab;
    padding: 4px 8px;
}